@charset "UTF-8";

@font-face {
    font-family: 'Nostalgic' ;
    src: url(fonts/NostalgicWhispers-Regular.ttf) format(truetype);
    font-style: normal;
    font-weight: normal;
}
h1 {
    font-family: 'Nostalgic';
    font-style: normal;
    font-weight: normal;
}
p {
    font-family: 'Nostalgic';
    font-style: normal;
    font-weight: normal;  
}