@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#F0F2F0,#F2EEAC );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7C8B76;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #8C2E26;
    text-align: center;
    text-shadow: 1px 1px 2px #96a88e;
}

h2 {
    color: #67A6AF;
}

p {
    text-align: justify;
}